<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(&quot;//images.hertz.com/content/Intl/1920x900_Hero_Banner/hero_summer_eucorp.jpg&quot;);">
  <div class="container">
    <h1>RENT A CAR <strong>alquilá</strong> al <strong>mejor precio</strong>!</h1>
    <p>Donde quieras y cuando quieras, tene un auto a tu alcance.</p>
    <a class="btn" href="https://rentalcarpatomalo.herokuapp.com/cars">Hace tu reserva</a>
    </div>
</div>
<div class="container">
<div class="cards">
  <div class="card-category1">
    Renault Clio
  </div>

  <div class="card-category2">
    Renault Megane
  </div>

  <div class="card-category3">
    Renault Kwid
  </div>
</div>
</div>
