<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(&quot;//images.hertz.com/content/Intl/1920x900_Hero_Banner/hero_summer_eucorp.jpg&quot;);">
  <div class="container">
    <h1>RENT A CAR <strong>alquilá</strong> al <strong>mejor precio</strong>!</h1>
    <p>Donde quieras y cuando quieras, tene un auto a tu alcance.</p>
    </div>
</div>
<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Alquila tu auto
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Arrenda un auto
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Promociones
  </div>
</div>
</div>
