.card-product {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-product img {
  height: 350%;
  width: 350px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 000;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 18px;
}
